<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trollbridge Proto</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <h1>день {{ day }}, {{time}}</h1>

    <h2>Тролль</h2>
    <ul>
        <li>Уровень: {{troll.level}}</li>
        <li>HP: {{troll.hp}}</li>
        <li>Голод: {{troll.hunger}}</li>
    </ul>

    <h2>Ресурсы</h2>
    <ul>
        <li>Золото: {{resourses.food}}</li>
        <li>Материалы: {{resourses.materials}}</li>
        <li>Драгоценности: {{resourses.gold}}</li>
    </ul>

    <div v-if="troll.alive">
        <button v-on:click="nextTime" >next time</button>
    </div>
    <div class="gameover" v-else>
        <div v-if="troll.gameoverCause === 'hunger'">
            Обессилевший от голода тролль покидает мост в поисках более сытой жизни.
        </div>
        <div v-if="troll.gameoverCause === 'battle'">
            Побитый и униженный, побежденный тролль покидает мост в поисках места, где никто не знает о его позоре.
        </div>
        <div>GAME OVER</div>
    </div>


    <div v-if="passingBy">
        <div>По мосту проходят:</div>
        <ul>
            <li v-if="passingBy.enemies.length" v-for="(item, index) in passingBy.enemies">
                {{item.name}}
            </li>
            <li v-if="passingBy.nonCombatants.length" v-for="(item, index) in passingBy.nonCombatants">
                {{item.name}}
            </li>
            <li v-if="passingBy.stuff.length" v-for="(item, index) in passingBy.stuff">
                {{item.name}}
            </li>
        </ul>
        <button type="button" v-on:click="rob">Напасть и ограбить</button>
    </div>
</div>

<script src="./index.js" type="module"></script>
</body>
</html>